$roboto-font: 'Roboto', sans-serif;
$principal-font: 'Poppins', sans-serif;
$color-blue: #264065;
$color-white: #FAF8F5;
$color-gray: #909090;
$color-black: #070D15;
$color-green: #A9D6CB;
$nav-font-size: 12px;
$nav-font-weight: 400;
$h1-font-size: 40px;
$h1-font-weight: 700;
$p-hero-font-size: 12px;
$p-hero-font-weight: 400;
$p-opinions-font-size: 8px;
$p-opinions-font-weight: 400;
$p-opinions-name-weight: 700;
$h3-information-font-size: 24px;
$h3-information-font-weight: 500;
$p-information-font-size: 8px;
$p-information-font-weight: 400;